// colors
$mainColor:#22c8e5;
$dangerColor:#f7345e;
$gray:#777;
$grayDark:#111;
$grayLight:#ddd;
// general
$bold700:700;
$border-radius: 0.5rem;
$border-curve: 2rem;
$transition:all .2s ease-in-out;
$box-shadow: 0 1px 4px rgba(0, 0, 0, .15);
$fontSize30: 30px;
$fontSize25: 25px;
$fontSize20: 20px;
$fontSize18: 18px;
$fontSize17: 17px;
$fontSize16: 16px;
$fontSize15: 15px;
$fontSize14: 14px;